body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.inner-div {
  width: 80%;
  height: 85vh;
  /* border: 2px solid red; */
}

.canvasElement {
  border: 2px solid black;
  border-radius: 5px;

}

.btn {
  align-self: flex-end;
  padding:10px 20px;
  border-radius:5px;
  cursor: pointer;
  margin-left:auto
}

#circleCanvas{
    border: 2px solid red;
}